table {
  width: 100%;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
}

.mat-mdc-header-row {
  background-color: rgb(25, 118, 210);
}

.mat-mdc-header-cell {
  color: white;
  font-weight: 500;
}

.mat-mdc-row {
  cursor: pointer;

  &:hover {
    background-color: rgba(25, 118, 210, 0.1);
  }
}
